:root
{
    font-size: larger;
}
pre
{
    font-size: medium;
    padding: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    color:black;
    border-radius: 5px;
    font-family: monospace;

}